
<div class="container">
	<div class="row">
		<%= form_tag textiles_path, :method => 'get' do %>
		  <p>
		    <%= text_field_tag :search, params[:search] %>
		    <%= submit_tag "Search", :name => nil %>
		  </p>
		<% end %>
　　　　	 <div class="col-xs-9">
			 <table class="table table-hover table-inverse">
				<tbody>
					<%= @textiles.each do |textile|%>
					<tr>
						<td>　
							<% if textile.image? %>
							　　<%= image_tag textile.image.url, size: "60x60"%>
							<% end %>
						</td>
						<td><%= textile.title %></td>
						<td><%= textile.body %></td>
						<td><%= link_to "詳細", textile_path(textile) %>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

