
<div class="container">
	<div class="row">
　　　　	 <div class="col-xs-9">
			 <table class="table table-hover table-inverse">
				<tbody>
					<%= @textiles.each do |textile|%>
					<tr>
						<td><%= attachment_image_tag(textile, :image, size:'80x80', class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg")%></td>
						<td><%= textile.name %></td>
						<td><%= textile.title %></td>
						<td><%= textile.body %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

