<style>
.sampleRow > div {
  min-height: 6em;
 border : dashed 4px #dfefff;
  margin: 0 auto;
}
h2 {
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  width: 120px;
}
</style>

<div class="body">
  <div class="container">
    <div>
      <div style="float: right;" >
        <%= form_tag(search_path, :method => 'get') do %>
        <%= select_tag 'option', options_for_select({shop: 1, sub_material: 2,textile: 3, history: 4},1), include_blank: true%>
          <%= text_field_tag :search %>
        <%= submit_tag 'Search', :name => nil %>
      <% end %>
    </div>
    <h2>Shops</h2>
    </div>
      <div class="row sampleRow">
      <%= @shops.each do |shop|%>
      <div class="col-md-12"  style="width: 310px; padding: 10px; margin: 20px;">
        <div class="box1">
          <% if shop.image? %>
            <%= image_tag shop.image.url, size: "280x280"%>
          <% end %>
        </div>
        <div><h4><%= shop.title %></h4></div>
        <div><%= shop.address %></div>
        <div style="text-align: center"><%= link_to "詳細", shop_path(shop), class: "btn btn-success" %></div>
      </div>
    <% end %>
    </div>
    <%= paginate @shops %>
  </div>
</div>
