<style>
  h2 {
   background: #dfefff;
   box-shadow: 0px 0px 0px 5px #dfefff;
   border: dashed 2px white;
   padding: 0.2em 0.5em;
   width: 180px;
   margin: 20px auto 50PX
}
</style>

<div class ="body">
  <div class="container">
    <div class="row">
        <h2>検索結果</h2>
        <% if @shop_or_sub_material_or_textile_or_history == "1"%>
            <div>
                <% @shops.each do |shop| %>
                <div>
                  <% if shop.image? %>
                    <%= image_tag shop.image.url, size: "100x100"%>
                  <% end %>
                </div>
                    <div><%= shop.title %></div>
                    <div><%= link_to "詳細", shop_path(shop)%></div>
                <% end %>
            </div>
        <% elsif @shop_or_sub_material_or_textile_or_history == "2" %>
            <div>
              <% @sub_materials.each do |sub| %>
                <div>
                  <% if sub.image? %>
                    <%= image_tag sub.image.url, size: "100x100"%>
                  <% end %>
                </div>
                <div><%= sub.title %></div>
                <div><%= link_to "詳細", sub_material_path(sub_material)%></div>
              <% end %>
            </div>
        <% elsif @shop_or_sub_material_or_textile_or_history == "3" %>
            <div>
                <% @textiles.each do |textile| %>
                <div>
                  <% if textile.image? %>
                    <%= image_tag textile.image.url, size: "100x100"%>
                  <% end %>
                </div>
                    <div><%= textile.title %></div>
                    <div><%= link_to "詳細", textile_path(textile)%></div>
                <% end %>
            </div>
        <% elsif @shop_or_sub_material_or_textile_or_history == "4" %>
        <div>
            <% @history.each do |history| %>
              <div>
                <% if history.image? %>
                  <%= image_tag history.image.url, size: "100x100"%>
                <% end %>
              </div>
                <div><%= history.title %></div>
                <div><%= link_to "詳細", history_path(history)%></div>
            <% end %>
        <% end %>
        </div>
        </div>
    </div>
</div>
