<% comments.each do |comment| %>
  <tr>
    <td>
      <%= attachment_image_tag comment.user, :profile_image, :fill, 50, 50, fallback: "5.png", size: "50x50" %><br>
    </td>
    <td><%= comment.user.name %>さん</td>
    <td><%= comment.comment %></td>
    <% if comment.user == current_user %>
      <td><%= link_to 'Destroy', article_comments_path(comment.id),  method: :delete, remote: true, data: { confirm: '削除してよろしいですか？' }  %></td>
    <% end %>
    <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
  <% end %>