<div class="body">
  <div class="container">
    <% if @article.errors.any? %>
        <div class="alert alert-warning">
          <ul>error
            <% @article.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <div class ="center-block">
      <h2 class="article__edit__title">編集</h2>
        <%= form_for @article do |f| %>
        <div class="field"style="text-align: center;margin-bottom: 30px;">
         <div> <%= f.label :image %></div>
          <%= f.attachment_field :image, class: "image" %>
        </div>

        <div class="field"style="text-align: center;margin-bottom: 30px;">
            <%= f.label :title, "レシピ名", class: "label" %>
            <%= f.text_field :title, class: "title",size:75 %>
          </div>

          <div class="field">
            <%= f.label :body, "作り方", class: "label" %>
            <%= f.text_area :body , 'data-provider': :summernote %>
          </div>
          <div id="summernote"></div>
          <div class="actions" style="text-align: center;margin-top: 50px;">
            <%= f.submit "投稿" , class: 'btn btn-success ' %>
          </div>
        <% end %>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('[data-provider="summernote"]').each(function(){
      $(this).summernote({
      lang: 'ja-JP',
      height: 250,
      fontNames: ['Helvetica', 'sans-serif', 'Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
      fontNamesIgnoreCheck: ['Helvetica', 'sans-serif', 'Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
        });
      })
    })
</script>