<div class="body">
  <div class="container">
    <% if @article.errors.any? %>
        <div class="alert alert-warning">
          <ul>error
            <% @article.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <div class ="center-block">
      <h2 class="article__edit__title">編集</h2>
        <%= form_for @article do |f| %>
        <img id="preview_image">

        <div id= "item_image">
          <%= attachment_image_tag @article, :image, class: "img-square", fallback: "icon.png", size:"200x200" %>
        </div>

        <div class="field__text">
         <div class="field__text"> <%= f.label :Topimage %></div>
          <%= f.attachment_field :image, class: "image" %>
        </div>

        <div class="field__area">
            <%= f.label :title, "title", class: "label" %>
            <%= f.text_field :title, class: "title",size:75 %>
          </div>

          <div class="field">
            <%= f.label :body, "作り方", class: "label" %>
            <%= f.text_area :body , 'data-provider': :summernote %>
          </div>
          <div id="summernote"></div>
          <div class="actions">
            <%= f.submit "投稿" , class: 'btn btn-success ' %>
          </div>
        <% end %>
    </div>
  </div>
</div>

