<div class="body">
  <div class="container">
    <div class='row'>
        <div class='col-md-12'>
          <section class="section">
           <div style="display: flex;flex-wrap: wrap;">
            <% @articles.each do |article| %>
               <div>
                <%= link_to article_path(article) do %>
                  <%= attachment_image_tag article, :image, fallback: "5.png",size: "200x200"%>
                <% end %>
                </div>
               <div class="noborder">
                <%= link_to article_path(article), class: "panel-block" do %>
                  <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                  </span>この作り方を見る
                <% end %>
              </div>
             <div class="noborder"><%= article.title %></div>
               <div class="noborder"><time><%= article.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新</div>>
             <% end %>
           </div>
          </section>
        </div>
    </div>
  </div>
</div>
