<div id="wrap">
<% if flash[:notice] %>
	<div class="flash">
		<%= flash[:notice] %>
	</div>
<% end %>
<% if @article.errors.any? %>
  <div class="alert alert-warning">
     <ul>error
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
    </ul>
  </div>
<% end %>
<div class ="container">
  <div class="row">
    <%= render 'users/info', user: current_user %>
    <div class ="col-md-9">
      <table class ="table">
        <h2 style="text-align: center;margin-bottom: 30px;">記事詳細</h2>
          <tr>
          <th class="image" style="margin: 0 auto">
            <%= link_to user_path(@user) do %>
            <%= attachment_image_tag @article, :image, size:'50x50', class: "img-circle pull-left profile-thumb", fallback: "5.jpg"%>
            <% end %>
          </th>
        </tr>
        <tr>
          <th class="media" style="text-align: center">
            <%= link_to @article.title,article_path(@article.id) %>
          </th>
        </tr>
        <tr>
          <th style="text-align: center"><%= @article.body %></th></tr>
            <% if @article.user_id == current_user.id %>
          <td><%= link_to "Edit", edit_article_path(@article.id), class: "btn-sm btn-success" %></td>
          <td><%= link_to "Destroy", article_path(@article.id), method: :delete, "data-confirm"=> "本当に削除してもよろしいですか？", class: "btn-sm btn-danger"%></td>
        <% end %>
        <tr>
        <% if @article.favorited_by?(current_user) %>
          <th style="text-align: center">
            <%= link_to article_favorites_path(@article), method: :delete do %>
                <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
            <%= @article.favorites.count %> いいね
            <% end %>
          </th>
          <% else %>
          <th style="text-align: center">
            <%= link_to article_favorites_path(@article), method: :post do %>
              <i class="fa fa-heart-o" aria-hidden="true"></i>
              <%= @article.favorites.count %> いいね
            <% end %>
          </th>
         <% end %>
       </tr>
      </table>
    </div>
　　</div>
</div>
