<div class="body">
  <% if @article.errors.any? %>
  <div class="alert alert-warning">
     <ul>error
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
    </ul>
  </div>
  <% end %>

  <div class="container">
    <p id="notice"><%= notice %></p>
    <div class="col-xs-3 ">
          <span class="profileimage">
            <%= attachment_image_tag @user, :profile_image ,size:'32x32',fallback: "icon.png" , class: "img-circle pull-left profile-thumb"%>
            <%=link_to user_path(@user) do %>
            <%= @user.name %>さん
            <% end %>:
            <% if current_user != @user %>
              <span id="follow_form">
                <% if current_user.following?(@user) %>
                  <%= render 'unfollow', user: @user %>
                <% else %>
                  <%= render 'follow', user: @user %>
                <% end %>
              <% end %>
            </span>
          </span>
      <span>
        <%= attachment_image_tag @article, :image ,size:'280x280',fallback: "icon.png"%>
      </span>
      <div>
        <span class="article_like_<%= @article.id %>">
          <%= render 'like', article: @article %>
        </span>
        <span class="article_bookmark_<%= @article.id %>">
          <%= render 'bookmark', article: @article %>
        </span>
        <% if @article.user.id == current_user.id %>
          <div class="article__new__btn"><%= link_to "編集画面へ", edit_article_path(@article), class: 'btn-sm btn-primary' %></div>
          <div  class="article__new__btn"><%= link_to "Destroy", article_path(@article.id), method: :delete, "data-confirm"=> "本当に削除してもよろしいですか？", class: "btn-sm btn-danger"%></div>
        <% end %>
      </div>
      <div class="field">
        <%= form_with model: [@article, @comment], data: {remote: true} do |f| %>
        <%= f.text_area :comment,autofocus: true,  class: 'article__show__texrarea' %>
      <div ><%= f.submit "送信する", class: 'btn btn-success ' %></div>
        <% end %>
      </div>

      <h2>コメント一覧</h2>
      <div class="show-tb comment_<%= @article.id %>">
        <%= render 'comment_area', comments: @article.comments %>
      </div>
    </div>

    <div class="col-xs-9 ">
      <div class="columns is-centered" style="display: inline-block;margin-left:150px;">
      <h3 class="title is-4">『<%= @article.title %>』</h3>
        <div class="content">
          <%= simple_format @article.body %>
        </div>
        <% @article.tag_list.each do |tag| %>
          <span class="hash-tag">
            ＃<%= link_to "#{tag}", tags_articles_path(tag_name: tag) %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
      <span id="back">
      <a href="#">
        <%= image_tag asset_path("arrow.png")%>
      </a>
    </span>
</div>

