<style>
.sampleRow > div {
  min-height: 6em;
 border : dashed 4px #dfefff;
  margin: 0 auto;
}
h2 {
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  width: 160px;
}
</style>




<div class="body">
  <div class="container">
    <div>
    <h2>Tag 一覧</h2>
    </div>
      <div class="row sampleRow">
      <% @articles.each do |article|%>
      <div class="col-md-12"  style="width: 310px; padding: 10px; margin: 20px;">
      	<div class="box1">
			<%= attachment_image_tag article, :image ,size:'280x280',fallback: "5.png"%>
		</div>
        <div><h4><%= article.title %></h4></div>
         <%= link_to article_path(article), class: "panel-block" do %>
            <div class="panel-icon">
              <i class="fas fa-book" aria-hidden="true">この作り方を見る</i>
            </div>
            <% end %>
        <% article.tag_list.each do |tag| %>
        <span class="hash-tag">
         ＃<%= link_to "#{tag}", tags_articles_path(tag_name: tag) %>
     	</span>
     	<% end %>
          <div><time><%= article.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新</div>
      </div>
    <% end %>
    </div>
  </div>
</div>