  <table class='table'style ="word-wrap: break-word;table-layout: fixed;">
    <tr>
      <th style=" border: 0px none; "><%= attachment_image_tag(user, :profile_image, fallback: "icon.png", size: "200x200",class: "img-circle pull-left profile-thumb") %></th>
    </tr>
    <tr>
      <th style="border: none;" >name</th>
      <td style="border: none;"><%= user.name %></td>
    </tr>
    <tr>
      <th style="border: none;">profile</th>
      <td style="border: none;"><%= user.profile %></td>
    </tr>
    </tr>
     <th style="border: none;">follows</th>
    <th style="border: none;"><%= link_to user.follower.count, user_follows_path(user) %></th>
    </tr>
    <tr>
      <th style="border: none;">followers</th>
      <th style="border: none;"><%= link_to user.followed.count, user_followers_path(user) %></th>
    </tr>
  </table>
  <% if current_user != user %>
    <% if current_user.following?(@user) %>
    <span id="follow_form">
      <%= render '/articles/unfollow', user: @user %>
    <% else %>
      <%= render '/articles/follow', user: @user %>
      <% end %>
    <% end %>
  </span>
  <% if user == current_user %>
      <%= link_to 'プロフィールを変更する',edit_user_path(user),class: "btn btn-default  glyphicon glyphicon-wrench edit_user_#{user.id}" %>
  <% end %>


