<style>
  h2 {
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    width: 290px;
    margin: 20px auto 50PX;
    text-align: center;
  }

  #preview_image {
    display: none;
    margin: 0 auto;
    height: 200px;
    width: 200px;
  }
</style>
<%= render 'layouts/errors', obj: @user %>
<div class="body">
  <div class ="container">
    <div class ="center-block">
      <h2>プロフィール編集</h2>
        <%= form_for(@user) do |f| %>

        <img id="preview_image"  style="height: 200px;width: 200px;">
        <div id= "profile_image" style ="text-align: center;" >
          <%= attachment_image_tag @article, :image, class: "img-square", fallback: "5.png", size:"200x200" %>
        </div>

          <div class="field"style="text-align: center;margin-bottom: 30px;">
           <div> <%= f.label :image %></div>
            <%= f.attachment_field :profile_image, class: "user_image" %>
          </div>
          <div class="field"style="text-align: center;margin-bottom: 30px;">
            <div class="field"><%= f.label :name %></div>
            <%= f.text_field :name, class: "name",size:75 %>
          </div>
          <div class="field"style="text-align: center;margin-bottom: 30px;">
            <div class="field"style="text-align: center;"><%= f.label :profile %></div>
            <%= f.text_area :profile, class: "profile", size: "20x10", class: "form-control"%>
          </div>
          <div class="actions" style="text-align: center;margin-bottom: 30px;">
            <%= f.submit "プロフィールを変更する" , class: 'btn btn-success ' %>
          </div>
        <% end %>
          <div class="actions" style="text-align: center;margin-bottom: 30px;">
            <% if user_signed_in? && @user.id == current_user.id %>
            <%= link_to "退会", users_hide_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
          </div>
　　    <% end %>
    </div>
  </div>
</div>
<script>
// imagepreview
  $('#user_profile_image').on('change', function (e) {
      var reader = new FileReader();
      reader.onload = function (e) {
          $('#preview_image').css('display', 'block')
          $("#preview_image").attr('src', e.target.result);
          $("#profile_image img").css('display','none');
      }
      reader.readAsDataURL(e.target.files[0]);
  });
</script>
