<div class="body">
  <div class ="container">
       <% if @user.errors.any? %>
      <div class="alert alert-warning">
        <ul>error
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class ="center-block">
      <h2 class="user__edit__title">プロフィール編集</h2>
        <%= form_for(@user) do |f| %>

        <img id="preview_image"  style="height: 200px;width: 200px;">
        <div id= "profile_image" style ="text-align: center;" >
          <%= attachment_image_tag @article, :image, class: "img-square", fallback: "icon.png", size:"200x200" %>
        </div>

          <div class="field"style="text-align: center;margin-bottom: 30px;">
           <div> <%= f.label :image %></div>
            <%= f.attachment_field :profile_image, class: "user_image" %>
          </div>
          <div class="field"style="text-align: center;margin-bottom: 30px;">
            <div class="field"><%= f.label :name %></div>
            <%= f.text_field :name, class: "name",size:75 %>
          </div>
          <div class="field"style="text-align: center;margin-bottom: 30px;">
            <div class="field"style="text-align: center;"><%= f.label :profile %></div>
            <%= f.text_area :profile, class: "profile", size: "20x10", class: "form-control"%>
          </div>
          <div class="actions" style="text-align: center;margin-bottom: 30px;">
            <%= f.submit "プロフィールを変更する" , class: 'btn btn-success ' %>
          </div>
        <% end %>
          <div class="actions" style="text-align: center;margin-bottom: 30px;">
            <%= link_to "退会ページに進む", users_unsubscribed_path %>
          </div>
    </div>
  </div>
</div>
