<style>
.sampleRow > div {
  min-height: 6em;
  border : dashed 4px #dfefff;
  padding: 30px
}
h2 {
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  width: 160px;
  margin-bottom: 30px;
}
</style>

<div class="body">
  <div class="container">
    <div class ="row">
      <div class="col-md-9 col-md-push-3">
          <h2>投稿一覧</h2>
          <div class="row sampleRow">
          <div style =" margin : 0 auto">
          <% @user.articles.each do |article| %>
            <div class="column is-3" style="width: 250px; padding: 10px;display: inline-block;margin-right: 0px;">
                <div class="image">
                  <%= link_to article_path(article) do %>
                    <%= attachment_image_tag article, :image, fallback: "5.png",size: "220x220"%>
                  <% end %>
                  <%= article.title%>
                </div>
                <div >
                  <p>
                    <%= link_to article_path(article), class: "panel-block" do %>
                        <i class="fas fa-book" aria-hidden="true"></i>この作り方を見る
                    <% end %>
                  </p>
                  <p>
                    <% if @user.id == current_user.id %>
                      <%= link_to edit_article_path(article), class: "panel-block" do %>
                          <i class="fas fa-edit"></i>この作り方を編集する
                      <% end %>
                    </p>
                    <p>
                      <%= link_to article_path(article), method: :delete, data: {confirm: "削除しますか？"}, class: "panel-block" do %>
                           <i class="fas fa-trash"></i>この作り方を削除する
                      <% end %>
                    </p>
                   <% end %>
                 </div>
              </div>
          <% end %>
        </div>
        </div>
      </div>
      <div class="col-xs-3 col-md-pull-9">
        <%= render 'info', user: @user,now: ''%>
      </div>

      <div class="col-md-9 col-md-push-3">
        <h2 style="width: 250px;">お気に入り記事</h2>
        <div class="row sampleRow" style= "display: inline-block;">
          <div style =" margin : 0 auto">
           <% @user.bookmark_articles.each do |article| %>
            <div class="column is-3" style="width: 250px; padding: 10px;display: inline-block;margin-right: 0px;">
              <div class="image">
                  <%= attachment_image_tag article, :image, fallback: "5.png",size: "200x200"%>
              </div>
              <div>
                <%= article.title %>
              </div>
              <div>
                <p>
                  <%= link_to article_path(article), class: "panel-block" do %>
                    <i class="fas fa-book" aria-hidden="true"></i>この作り方を見る
                  <% end %>
                </p>
              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>