<div class ="container">
  <div class ="row">
    <%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>
      <div class="page-header">
        <h2 class="inquity__title">お問い合わせ</h2>
      </div>

      <% if @inquiry.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <strong>入力内容にエラーがあります</strong>
          <ul>
            <% @inquiry.errors.each do |attr, msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <table class="table">
        <tr>
          <th>名前<span class="text-danger">（必須）</span></th>
          <td><%= f.text_field :name , size:"75" %></td>
        </tr>
        <tr>
          <th>メールアドレス<span class="text-danger">（必須）</span></th>
          <td><%= f.text_field :email, size:"75" %></td>
        </tr>
        <tr>
          <th>お問い合わせ内容</th>
          <td><%= f.text_area :message, size: "75x10" %></td>
        </tr>
      </table>
      <%= f.submit '確認', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>