<footer>
    <div class='body'>
	  <div class='container'>
		<nav class='nav navbar-nav navbar-right' >
        	<% if user_signed_in? %>
        		<%= link_to user_path (current_user) do %><%= image_tag asset_path("logo.png") %><% end %>
        	<% else %>
          		<%= link_to root_path do %><%= image_tag asset_path("logo.png") %><% end %>
          	<% end %>
			<p>CopyRight Updashiom.inc</p>
		</nav>
		<nav class='nav navbar-nav navbar-left'>
			<div class="social" >
			  <%=link_to inquiry_index_path do%>
			    <i class="far fa-envelope fa-2x faa-wrench animated-hover faa-vertical"></i>
			    <% end %>
			  <a href=http://www.facebook.com/Masataka4/> <i class="fab fa-facebook-square fa-2x faa-wrench animated-hover"></i></a>
			  <a href=https://twitter.com/updashion1><i class="fab fa-twitter fa-2x faa-wrench animated-hover faa-pulse"></i></a>
			  <a href=https://www.instagram.com/updashion/><i class="fab fa-instagram fa-2x faa-wrench animated-hover faa-vertical"></i></a>
			</div>
			<p>東京都渋谷区道玄坂2-5-11 室町ビル202</p>
		</nav>
      </div>
	</div>
</footer>

