<footer>
	<style>
		i{
		  text-align: center;
		  padding: 0 10px;
		  margin: 40px 0;
		}
	</style>

    <div class='body'>
	  <div class='container'>
		<nav class='nav navbar-nav navbar-right' >
			<div><%= link_to root_path do %> <img src="/assets/logo.png"><% end %></div>
			  <p>CopyRight Updashiom.inc</p>
		</nav>
		<nav class='nav navbar-nav navbar-left'>
			<div class="social" >
			  <%=link_to inquiry_index_path do%>
			    <i class="far fa-envelope fa-2x faa-wrench animated-hover faa-vertical"></i>
			    <% end %>
			  <%=link_to root_path do%>
			  	<i class="fab fa-facebook-square fa-2x faa-wrench animated-hover"></i>
			  <% end %>
			  <%=link_to root_path do%>
			  	<i class="fab fa-twitter fa-2x faa-wrench animated-hover faa-pulse"></i>
			  <% end %>
			  <%=link_to root_path do%>
			  	<i class="fab fa-instagram fa-2x faa-wrench animated-hover faa-vertical"></i>
			  <% end %>
			</div>
			<p>東京都渋谷区道玄坂2-5-11 室町ビル202</p>
		</nav>
      </div>
	</div>
</footer>
