<header>
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <div class="site-title">
        <% if user_signed_in? %>
        <%= link_to user_path (current_user) do %><%= image_tag asset_path("logo.png") %><% end %>
        <% else %>
          <%= link_to root_path do %><%= image_tag asset_path("logo.png") %><% end %>
          <% end %>
     </div>
    </nav>
    <div class="navi" style="padding-top:30px;">
    <nav>
      <ul class="nav navbar-nav navbar-right menu">
        <% if user_signed_in? %>
          <li><%= link_to ' Home',user_path(current_user),class: 'glyphicon glyphicon-home home' %></li>
          <li><%= link_to 'Article',articles_path,class: 'glyphicon glyphicon-book books'%></li>
          <li><%= link_to '',new_article_path, class: "glyphicon glyphicon-plus" %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#"><%= link_to 'History',historys_path,class: "glyphicon glyphicon-pencil" %></a></li>
              <li><a href="#"><%= link_to 'Textile',textiles_path,class: "glyphicon glyphicon-picture" %></a></li>
              <li><a href="#"><%= link_to 'Sub_materilal',sub_materials_path,class: "glyphicon glyphicon-file" %></a></li>
              <li><a href="#"><%= link_to 'Shop',shops_path,class: "glyphicon glyphicon-paperclip" %></a></li>
            </ul>
          </li>
          <li><%= link_to 'logout', destroy_user_session_path, method: :delete,class: 'glyphicon glyphicon-log-out logout' %></li>
        <% else %>
          <li><%= link_to 'Home',root_path,class: 'glyphicon glyphicon-home home' %></li>
          <li><%= link_to 'About',home_about_path,class: 'glyphicon glyphicon-link about' %></li>
          <li><%= link_to 'sign up', new_user_registration_path,class: 'glyphicon glyphicon-edit sign_up' %></li>
          <li><%= link_to 'login', new_user_session_path ,class: 'glyphicon glyphicon-log-in sign_in'%></li>

        <% end %>
      </ul>
    </nav>
  </div>
  </div>
</header>